
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Primay Colo */
:root{
    --p-color: rgb(110, 110, 110);
}

body{
    background-color: #F5F8FF;
}
/* Same Style */
.my-color{
 color: #E95A08;
}

/* Header Section */

.header{

    max-width: 1150px;
    margin: 0 auto;
     margin-top: 15px;
}

.navigiton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width: 100%;
}
.hear-teitle {
    display: flex;
    gap: 40px;

}
.hear-teitle ,
.liset,
.home{
    text-decoration: none;
     align-items: center;
}
.hear-teitle ,
.liset{
    list-style: none;
}
.one{
  font-size: 17px;
  font-weight: 600;
  color: black;
}
.tow,
.three{
  font-size: 17px;
  color: var(--p-color);
}
.nave-btn{
    border: none;
    background-color: #F5F8FF;
    font-size: 18px;
}
/* banner Section */
.banner{
    margin-top: 100px;
    display: flex;
    height: 100%;
    gap: 77px;
}
.text-cointenar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 500px;
}
.banners-img{
    max-width: 650px;
}
.teitle{
   font-size: 3rem;
   line-height: 60px;
}

.sub-teitle{
  margin-top: 10px;
  color: #5f5f5f;
}

/* our-plants Section */
.our-plants{
    max-width: 1150px;
    margin: 0 auto;
}
.teilet-plant{
    margin-top: 70px ;
    max-width: 700px;
    margin: 70px auto 0;
    text-align: center;
}
.plant-teile{
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 600;
}
.primary{
    color: var(--p-color);
}
/* card-cointenar*/
 .card-cointenar{ 
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.card{
    margin-bottom: 19px;
    text-align: center;

}
.lily-teitle{
    font-size: 1.3rem;
    font-weight: 500;
    color: #111111;
    margin-top: 10px;
}
.pricese{
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}
.cards-btn{
    margin-top: 17px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #E95A08;
    color: white;
    padding: 13px ;
    width: 96.5%;
}


/* plantes */
.plantes{
    max-width: 1150px;
    margin: 100px auto 0;
}
.positon{
    position: absolute;
    width: 20%;
    z-index: 1;
   top: -85px;
   left: 385px;
}
.double{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.img-dobal{
   max-width: 550px;
    height: 60vh;
}
.plantesa-text-content{
    padding: 50px 0 0 0;

}
.plan-teitle{
    font-size: 3rem;
    font-weight: 600;
}
.unoder{
    margin: 15px 0 0 0;
  padding-left: 30px;
}
.listes{
    margin-bottom: 35px;
    color: var(--p-color);
}




@media screen and (max-width:576px){

  .one,.tow,.three {
    display: none;

    }
    .banner{
    margin-top: 25px;
    flex-direction: column-reverse;
    height: 100%;
    gap: 5px;
}
.teitle{
   font-size: 2rem;
   line-height: 40px;
}
.text-cointenar{
    padding: 0 10px;
}
.card-cointenar{
    grid-template-columns: repeat(2,1fr);
    gap: 0;
}
.cards,
.img-cards{
    width: 175px;
}
.cards-btn{
   max-width: 175px;
}
.positon{
    display: none;
}
.plant-teile{
    font-size: 2rem;
}
.double{
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
}
.plantesa-text-content{
    padding: 0;
    max-width: 400px;
    justify-items: center;
}
.plan-teitle{
   padding-left: 5px;
    font-size: 2.5rem;
    font-weight: 600;
}
.img-dobal{
    max-width: 100%;
    padding: 0 7px;
}

}